<div class="checkbox-array-container">

  {{#each actionMap as |actionItem|}}
      <div class="form-row">

         <input type="checkbox" id={{actionItem.action}} checked={{actionItem.actionValueObject.shouldUpdate}} onchange={{action 'updateCheckbox' value='target.id'}} />
         <label for="userStatus" class="row-label">{{actionItem.label}}</label>


          {{ember-selectize
              content=actionItem.options
              optionValuePath="content.value"
              optionLabelPath="content.label"
              value=actionItem.actionValueObject.value
              multiple=false
              select-value=(action "updateValuesAction")
              class=input-class
          }}
      </div>
  {{/each}}

</div>
{{yield}}
